.section2 {
  margin-top: 20px;
}
/* INNER_LEFT  */
.section2 .inner .inner-left {
  height: 340px;
  flex-grow: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 80px 1fr;
  grid-template-areas: "toggle-up display" "toggle-down display";
}
.section2 .inner .inner-left:hover {
  cursor: pointer;
}

.section2 .inner .inner-left .display {
  grid-area: display;
  position: relative;
}
.section2 .inner .inner-left .display .display-up {
  height: 100%;
  width: 100%;
  position: absolute;
  /* visibility: hidden; */
  display: none;
}
/*여기부터*/
.section2 .inner .inner-left .display .display-up .swiper {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.section2 .inner .inner-left .display .display-up .swiper-slide {
}
.section2 .inner .inner-left .display .display-up .swiper-slide span {
  color: white;
  width: 100%;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 36px;
  padding-left: 10px;
  font-size: 14px;
}
.section2 .inner .inner-left .display .display-up.display-on {
  /* visibility: visible; */
  display: block;
}
.section2 .inner-left .display .display-up .nav-bar {
  z-index: 9;
  width: 100%;
  height: 36px;
  position: absolute;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.7); */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}
.section2 .inner-left .display .display-up .nav-bar .title {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 10px;
}
.section2 .inner-left .display .display-up .nav-bar .controller {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.section2 .inner-left .display-up .nav-bar .controller .page {
  height: 36px;
  position: relative;
  font-size: 13px;
  letter-spacing: 0px;
  bottom: 0;
  line-height: 36px;
}
.section2 .inner-left .display-up .nav-bar .controller .page:hover {
  cursor: pointer;
}
.section2 .inner-left .display-up .nav-bar .controller .display-prev {
}
.section2 .inner-left .display-up .nav-bar .controller .display-prev:hover {
  cursor: pointer;
}
.section2 .inner-left .display-up .nav-bar .controller .display-prev::before {
  content: "";
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 1px;
  height: 20px;
  top: 0;
  right: 85px;
  bottom: 0;
  margin: auto;
}
.section2 .inner-left .display-up .nav-bar .controller .display-playToggle {
}
.section2 .inner-left .display-up .nav-bar .controller .display-next {
}
/* DISPLAY-DOWN */

.section2 .inner .inner-left .display .display-down {
  height: 100%;
  width: 100%;
  position: absolute;
  /* visibility: hidden; */
  display: none;
}
.section2 .inner .inner-left .display .display-down.display-on {
  /* visibility: visible; */
  display: block;
}
.section2 .inner .inner-left .display .display-down .swiper {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.section2 .inner .inner-left .display .display-down .swiper-slide {
}
.section2 .inner .inner-left .display .display-down .swiper-slide span {
  color: white;
  width: 100%;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 36px;
  padding-left: 10px;
  font-size: 14px;
}
.section2 .inner .inner-left .display .display-down.display-on {
  /* visibility: visible; */
  display: block;
}
.section2 .inner-left .display .display-down .nav-bar {
  z-index: 9;
  width: 100%;
  height: 36px;
  position: absolute;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.7); */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}
.section2 .inner-left .display .display-down .nav-bar .title {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 10px;
}
.section2 .inner-left .display .display-down .nav-bar .controller {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.section2 .inner-left .display-down .nav-bar .controller .page {
  height: 36px;
  position: relative;
  font-size: 13px;
  letter-spacing: 0px;
  bottom: 0;
  line-height: 36px;
}
.section2 .inner-left .display-down .nav-bar .controller .page:hover {
  cursor: pointer;
}
.section2 .inner-left .display-down .nav-bar .controller .display-prev {
}
.section2 .inner-left .display-down .nav-bar .controller .display-prev:hover {
  cursor: pointer;
}
.section2 .inner-left .display-down .nav-bar .controller .display-prev::before {
  content: "";
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 1px;
  height: 20px;
  top: 0;
  right: 85px;
  bottom: 0;
  margin: auto;
}
.section2 .inner-left .display-down .nav-bar .controller .display-playToggle {
}
.section2 .inner-left .display-down .nav-bar .controller .display-next {
}
/* //여기까지 */
.section2 .inner .inner-left .toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d2e1e9;
  position: relative;
}
.section2 .inner .inner-left .toggle:hover {
  cursor: pointer;
}
.section2 .inner .inner-left .toggle .triangle {
  height: 45px;
  width: 45px;
  background-color: #0158a8;
  transform: rotateZ(45deg);
  position: absolute;
  right: -20px;
  visibility: hidden;
}
.section2 .inner .inner-left .toggle.toggle-on .triangle {
  visibility: visible;
  z-index: 1;
}
.section2 .inner .inner-left .toggle.toggle-on {
  background-color: #0158a8;
}
.section2 .inner .inner-left .toggle-up {
  grid-area: toggle-up;
}
.section2 .inner .inner-left .toggle-down {
  grid-area: toggle-down;
}

.section2 .inner .inner-left .toggle .icon-container {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.section2 .inner .inner-left .toggle-up .icon-container .icon-news {
  background: url("../../images/icons-section2.png") no-repeat -11px -11px;
  width: 28px;
  height: 28px;
}

.section2 .inner .inner-left .toggle-down .icon-container .icon-participate {
  background: url("../../images/icons-section2.png") no-repeat -56px -5px;
  width: 36px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
}
.section2 .inner .inner-left .toggle span {
  font-weight: 700;
  font-size: 16px;
  z-index: 2;
}
.section2 .inner .inner-left .toggle.toggle-on span {
  font-weight: 700;
  font-size: 16px;
  color: white;
}

/* INNER-RIGHT  */
.section2 .inner .inner-right {
  flex-direction: column;
  justify-content: space-between;
}
.section2 .inner .inner-right .banner {
  height: 105px;
  width: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.section2 .inner .inner-right .banner:hover {
  cursor: pointer;
}
.section2 .inner .inner-right a:nth-child(1) .banner {
  height: 86px;
  background-image: url(../../images/section2_banner1.gif);
  font-weight: 700;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 15px;
}
.section2 .inner .inner-right a:nth-child(1) .banner h4 {
  position: absolute;
  right: 25px;
  top: 10px;
  font-size: 12px;
  color: black;
}
.section2 .inner .inner-right a:nth-child(1) .banner ul {
  color: white;

  text-align: center;
}
.section2 .inner .inner-right a:nth-child(1) .banner ul li:nth-child(1) {
  font-size: 12px;
}
.section2 .inner .inner-right a:nth-child(1) .banner ul li:nth-child(2) {
  margin-top: 3px;
  font-size: 17px;
}
.section2 .inner .inner-right a:nth-child(2) .banner {
  background-image: url(../../images/section2_banner2.gif);
}
.section2 .inner .inner-right a:nth-child(3) .banner {
  background-image: url(../../images/section2_banner3.gif);
}
